@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}


main {
    height: auto;
    margin: 30px 100px;
    font-family: "Gowun Dodum", sans-serif;
}

/* 서브 코멘트 */
main .subPicComment {
    font-size: 22px;
    margin: 30px 0px 5px 0px;
    font-weight: bold;
}

/* 서브 배열 */
main sub {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

/* 서브 슬라이드 사진 간격 */
main sub .pic_container {
    width: 24%;
    position: relative;
}

/* 서브 슬라이드 사진리스트*/
main sub .pic_container .pic_list {
    display: flex;
    width: 100%;
    height: 150px;
    transition: transform 0.5s ease-in-out;
}

/* 서브 슬라이드 사진 */
main sub .pic_container .pic_list img {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-size: cover;
    position: absolute;
    cursor: pointer;
    object-fit: cover;
}

/* 서브 슬라이드 버튼 */
main sub button {
    all: unset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(235, 35, 35);
    cursor: pointer;
}

/* 서브 슬라이드 왼쪽 버튼 위치 */
main sub .btn1,
main sub .btn3,
main sub .btn5,
main sub .btn7 {
    left: 10px;
}

/* 서브 슬라이드 오른쪽 버튼 위치 */
main sub .btn2,
main sub .btn4,
main sub .btn6,
main sub .btn8 {
    right: 10px;
}

.icon-large {
    font-size: 30px;
}


@media only all and (min-width: 1500px) {

    /* 서브 배열 */
    main sub {
        height: 200px;
    }

    /* 서브 슬라이드 사진 간격 */
    main sub .pic_container {
        height: 200px;
    }

    /* 서브 슬라이드 사진 */
    main sub .pic_container .pic_list img {
        height: 200px;
    }
}